@page "/"

<PageTitle>Home</PageTitle>

<div class="home-container">

    <Controls />
    <hr />
    <!-- List Component -->
    

    <!-- Main Content -->
    <div class="inner-content">
        <List />
        <ListItem />
        <!-- Other main content goes here -->
    </div>
</div>

<style>
.inner-content {
    display: flex;
}
</style>


