@page "/"

<PageTitle>Home</PageTitle>

<div class="home-container">
    <!-- Sidebar Component -->
    <List />

    <!-- Main Content -->
    <div class="main-content">
        
        <!-- Other main content goes here -->
    </div>
</div>


