.navbar[b-mz1ptdsyg5] {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-scrollable[b-mz1ptdsyg5] {
    width: 100%;
}

.navbar-toggler[b-mz1ptdsyg5] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-collapse[b-mz1ptdsyg5] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-side-icons[b-mz1ptdsyg5] {
    display: flex;
    align-items: center;
    margin: 0 0.5rem 0 0;
}

.navbar-brand[b-mz1ptdsyg5] {
    font-size: 1.1rem;
    color: white;
}

.white-icon[b-mz1ptdsyg5] {
    color: white;
    cursor: pointer;
    margin-right: 0.5rem;
    transform: scale(1.1);
}

.nav-user[b-mz1ptdsyg5] {
    display: flex;
    align-items: center;
}

.nav-username[b-mz1ptdsyg5] {
    display: flex;
    flex-direction: column;
    color: white;
}

.navbar-nav .nav-item .nav-link[b-mz1ptdsyg5] {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    line-height: 1rem;
    padding: 0.5rem;
}

.navbar-nav .nav-item .nav-link:hover[b-mz1ptdsyg5] {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.navbar-nav .nav-item .active[b-mz1ptdsyg5] {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
}

.nav-sub[b-mz1ptdsyg5] {
    font-size: 0.7rem;
}

@media (min-width: 641px) {
    .navbar-toggler[b-mz1ptdsyg5] {
        display: none;
    }
}

@media (min-width: 641px) {

    
}